*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;;
    background-color: #a6a6a6;

}
/*! GİRİŞ SAYFASI  */
.kaydirma{
    overflow: hidden;
}
.baba{
    display: flex;
    width: 100%;
    height: 96vh;
    justify-content: center;
    align-items: center;
    background-color: #161616;

}
.mobileBr{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #a6a6a6;
}
.baryazi{
    text-decoration: none;
    font-size: 25px;
    color: #222222;
    transition: 1s font-size linear;

}
.baryazi:hover{
    color: #101010;
    font-size: 28px;
}
.baslik{
    font-weight: 200;
    font-size: 100px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(66, 66, 66);
}
::-webkit-scrollbar-thumb{
    background-color: #212121;
    border: 3px solid rgb(66, 66, 66);
}

  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@media (max-width:1270px) {
    .baslik{
        font-size: 400%;
        text-align: center;
    }
    .mobileBr{
        display: block;
    }
}
@media (max-width:585px) {
    .typewriter h1{
        font-size: 300%;
        text-align: center;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .baryazi, .hakrenk{
        padding: 5px;
    }

}
  

/*! Anasayfa hariç navbarlar!  */
.hakkimizda, .iletisim{
    background-color: #161616 !important;
}
.hakrenk, .iletisim{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 25px;
}

/*! Hakkımızda sayfası  */
.chibi1{
    width: 125px;
    margin-top: 20px;
}
.chibi2{
    float: right;
    width: 139px;
    margin-top: 20px;
}
